#profile-image {
    margin-top: 20px;
    width: 1600px;
    height: 400px;
}

#main {
    display: flex;
    justify-content: center ;
    align-items: center;
}

#about div {
    display: flex;
    border-style: outset;
    border-radius: 10px;
    border-color: orange;
    padding: 10px 10px 10px 10px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}
.button {
    margin-top: 20px;
    background-color: yellow;
    border-radius: 10px;
    border-color: orange;
    text-shadow: 15px;
    text-transform: capitalize;
    color: black;
    font-weight: bold;
    
}

.container {
    display: flex;
    flex-direction: column;
}



