body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

#question {
	font-size: medium;
	font-style: bold;
}
nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 10;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: green;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.button {
	padding: 18px;
	font-style: oblique;
	font-size: small;
	color: yellow;
}

.button1 {
	padding: 18px;
	font-style: oblique;
	font-size: small;
	color: green;
}